#video-preview {
    position: relative;
    bottom: 85px;
    background-image: url('brave-movie.jpg');
    background-color: black;
    background-size: 100% 90vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 105vh;
    display: flex;
    align-items: center;
}
#preview-info {
    position: relative;
    left: 60px;
    bottom: 50px;
    width: 40vw;
    height: 50vh;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.white {
    color: white;
}
#description {
    font-size: 20px;
}
#rank {
    font-size: 25px;
}
#title {
    font-size: 60px;
}
#play-button {
    width: 130px;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 5px;
}
#info-button {
    width: 180px;
    height: 40px;
    outline: none;
    border: 0;
    background-color: #6D6D6EB3;
    border-radius: 5px;
}
#button-holder {
    width: 320px;
    display: flex;
    justify-content: space-between;
}